@define-mixin h4 {
  margin: 0;
  padding: 0;

  font-family: 'Source Sans Pro', source-sans-pro, pt sans, calibri, sans-serif;
  font-size:   $h4-font-size;
  font-weight: 400;
  line-height: $h4-line-height;
}
