<div class="modals">

  <div class="modals-container">
    <h1 class="modals-container__title">Default modal</h1>

    <section class="modal--default">

      <header class="modal--default__header">
        <h1 class="modal--default__header__title">Create a Channel</h1>
        <i class="modal--default__header__icon"></i>
      </header>

      <div class="modal--default__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>

        <div class="modal--default__content__error">
          <p>This is an Error State</p>
        </div>

        <div class="modal--default__content__success">
          <p>This is an Success State</p>
        </div>

        <div class="modal--default__content__info">
          <p>This is an Info State</p>
        </div>

        <div class="modal--default__content__fineprint">
          <p>This is fineprint with a link to our <a href="#">Terms and Conditions</a>.</p>
        </div>


      </div>

      <footer class="modal--default__footer">
        <button class="modal--default__footer__btn--negative">Remove</button>
        <button class="modal--default__footer__btn pull-right">Chat Privately</button>
      </footer>

    </section>

  </div>


  <div class="modals-container">
    <section class="modal--default">

      <header class="modal--default__header">
        <h1 class="modal--default__header__title">Create a Channel</h1>
        <i class="modal--default__header__icon"></i>
      </header>

      <div class="modal--default__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>
      </div>

      <footer class="modal--default__footer">
        <button class="modal--default__footer__link pull-left">Back</button>
        <button class="modal--default__footer__btn pull-right">Create</button>
      </footer>

    </section>

  </div>


  <div class="modals-container">
    <section class="modal--default">

      <header class="modal--default__header">
        <h1 class="modal--default__header__title">Create a Channel</h1>
        <i class="modal--default__header__icon"></i>
      </header>

      <div class="modal--default__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>
      </div>

      <footer class="modal--default__footer">
        <button class="modal--default__footer__link">Add People</button>
      </footer>

    </section>

  </div>

  <div class="modals-container">
    <section class="modal--default modal--default__narrow">

      <header class="modal--default__header">
        <h1 class="modal--default__header__title">Log in</h1>
      </header>

      <div class="modal--default__content">
        <p>This is <b>modal--default__narrow</b>.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>
      </div>

      <footer class="modal--default__footer"></footer>

    </section>

  </div>



</div>
