<div class="headings">
  <div class="headings-container">
    <h1 class="h1">This is a H1</h1>
  </div>
  <div class="headings-container">
    <h2 class="h2">This is a H2</h2>
  </div>
  <div class="headings-container">
    <h3 class="h3">This is a H3</h3>
  </div>
  <div class="headings-container">
    <h4 class="h4">This is a H4</h4>
  </div>
  <div class="headings-container">
    <h5 class="h5">This is a H5</h5>
  </div>
</div>
