@import "../components/headings.css";
@import "../mixins/grid/row.css";
@import "../mixins/grid/column.css";
@import "../mixins/utils/center-items.css";

.headings {
  @mixin row;
  flex-wrap: wrap;
}

.headings-container {
  @mixin center-items;
  @mixin column 4;
  transition: all .1s ease-in-out .2s;

  .menu-active & {
    @mixin column 12;
  }
}
