@import "../components/modals.css";

@import "../mixins/grid/row.css";
@import "../mixins/utils/center-items.css";
@import "../mixins/text/h1.css";
@import "../mixins/text/h4.css";


.modals {
  min-height: 100%;
  background: rgba(0, 0, 0, .1);
}

.modals-container {
  @mixin row;
  @mixin center-items;
  flex-direction: column;
  padding: 2rem;
}

.modals-container__title {
  @mixin h1;
  margin-bottom: 2rem;
}

p {
  @mixin h4;
}
