<div class="buttons">


  <h1 class="buttons__title">Buttons on Clouds</h1>
  <p>
    This is used on <a href="https://i.imgur.com/llcVRD3.png">explore NLI header</a>.
  </p>
  <div class="buttons__list">
    <div class="buttons__list__item clouds-mock-background">
      <button class="button-caribbean">Caribbean</button>
      <button class="subdued-button-clouds">Clouds</button>
    </div>
  </div>

  <h1 class="buttons__title">Secondary Button combo</h1>
  <div class="buttons__list">

    <div class="buttons__list__item clouds-mock-background">
      <div class="buttons__list__item__group">
        <button class="button-clouds--xsmall">Clouds</button>
        <button class="secondary-button-clouds--xsmall">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-clouds--small">Clouds</button>
        <button class="secondary-button-clouds--small">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-clouds">Clouds</button>
        <button class="secondary-button-clouds">combo</button>
      </div>
    </div>

    <div class="buttons__list__item">
      <div class="buttons__list__item__group">
        <button class="button-caribbean--xsmall">Caribbean</button>
        <button class="secondary-button-caribbean--xsmall">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-caribbean--small">Caribbean</button>
        <button class="secondary-button-caribbean--small">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-caribbean">Caribbean</button>
        <button class="secondary-button-caribbean">combo</button>
      </div>
    </div>

    <div class="buttons__list__item">
      <div class="buttons__list__item__group">
        <button class="button-jaffa--xsmall">Jaffa</button>
        <button class="secondary-button-jaffa--xsmall">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-jaffa--small">Jaffa</button>
        <button class="secondary-button-jaffa--small">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-jaffa">Jaffa</button>
        <button class="secondary-button-jaffa">combo</button>
      </div>
    </div>

    <div class="buttons__list__item">
      <div class="buttons__list__item__group">
        <button class="button-pampas--xsmall">Pampas</button>
        <button class="secondary-button-pampas--xsmall">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-pampas--small">Pampas</button>
        <button class="secondary-button-pampas--small">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-pampas">Pampas</button>
        <button class="secondary-button-pampas">combo</button>
      </div>
    </div>

    <div class="buttons__list__item">
      <div class="buttons__list__item__group">
        <button class="button-thunder--xsmall">Thunder</button>
        <button class="secondary-button-thunder--xsmall">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-thunder--small">Thunder</button>
        <button class="secondary-button-thunder--small">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-thunder">Thunder</button>
        <button class="secondary-button-thunder">combo</button>
      </div>
    </div>

    <div class="buttons__list__item">
      <div class="buttons__list__item__group">
        <button class="button-ruby--xsmall">Ruby</button>
        <button class="secondary-button-ruby--xsmall">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-ruby--small">Ruby</button>
        <button class="secondary-button-ruby--small">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-ruby">Ruby</button>
        <button class="secondary-button-ruby">combo</button>
      </div>
    </div>

    <div class="buttons__list__item">
      <div class="buttons__list__item__group">
        <button class="button-facebook--small">
          <i  class="fa  fa-facebook-official"></i>
          Share
        </button>
        <button class="secondary-button-facebook--small">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-facebook">
          <i  class="fa  fa-facebook-official"></i>
          Share
        </button>
        <button class="secondary-button-facebook">combo</button>
      </div>
    </div>

    <div class="buttons__list__item">
      <div class="buttons__list__item__group">
        <button class="button-twitter--small">
          <i  class="fa  fa-twitter"></i>
          Tweet
        </button>
        <button class="secondary-button-twitter--small">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-twitter">
          <i  class="fa  fa-twitter"></i>
          Tweet
        </button>
        <button class="secondary-button-twitter">combo</button>
      </div>
    </div>

    <div class="buttons__list__item">
      <div class="buttons__list__item__group">
        <button class="button-linkedin--small">
          <i  class="fa  fa-linkedin"></i>
          Share
        </button>
        <button class="secondary-button-linkedin--small">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-linkedin">
          <i  class="fa  fa-linkedin"></i>
          Share
        </button>
        <button class="secondary-button-linkedin">combo</button>
      </div>
    </div>

    <div class="buttons__list__item">
      <div class="buttons__list__item__group">
        <button class="button-google-plus--small">
          <i  class="fa  fa-google-plus"></i>
          Share
        </button>
        <button class="secondary-button-google-plus--small">combo</button>
      </div>
      <div class="buttons__list__item__group">
        <button class="button-google-plus">
          <i  class="fa  fa-google-plus"></i>
          Share
        </button>
        <button class="secondary-button-google-plus">combo</button>
      </div>
    </div>

  </div>
</div>
